@import "~mixins";
@import "~vars";

.calendar-day {
  .font-size(@micro-size);
  display: inline-block;
  width: @base-spacing-unit * 1;
  text-align: center;
  border: 1px solid white;
}


.calendar-day--other-month {
  color: #fff;
}


.calendar-day--future {
  color: #eee;
}


.calendar-day--current-day {
  border: 1px solid red;
}


.calendar-day--has-count {
  color: white;
}


.calendar-day--has-count--1 { background-color: lighten(orange, 40%); color: orange; }
.calendar-day--has-count--2 { background-color: lighten(orange, 36%); color: orange; }
.calendar-day--has-count--3 { background-color: lighten(orange, 32%); color: orange; }
.calendar-day--has-count--4 { background-color: lighten(orange, 28%); }
.calendar-day--has-count--5 { background-color: lighten(orange, 24%); }
.calendar-day--has-count--6 { background-color: lighten(orange, 20%); }
.calendar-day--has-count--7 { background-color: lighten(orange, 16%); }
.calendar-day--has-count--8 { background-color: lighten(orange, 12%); }
.calendar-day--has-count--9 { background-color: lighten(orange, 8%); }
.calendar-day--has-count--max { background-color: orange; }


.calendar-day--today {
  color: red;
}


.calendar-day--has-count.calendar-day--today {
  color: red;
}
