@import "~mixins";
@import "~vars";

.calendars {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: @base-spacing-unit * 8;
  padding-top: @base-spacing-unit;
  display: none;

  .responsive(1024px, {
    display: block;
    padding-bottom: @base-spacing-unit;
  });
}


.calendars__more-button {
  .font-size(@h6-size);
  text-align: center;
}
