@import "~mixins";
@import "~vars";

// Typography
// http://type-scale.com/ Minor Third
html {
  font-size: 1em;
  overflow-y: scroll;
}

body {
  line-height: 1.45;
  color: #444;
  font-family: 'PT Serif', 'serif';
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: normal;
  line-height: 1.2;
  font-family: 'PT Sans', 'sans-serif';
}

h5, h6 {
  font-weight: normal;
  font-family: 'PT Sans', 'sans-serif';
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

a {
  color: orange;
  text-decoration: none;
  border-bottom: 1px solid orange;
  font-family: 'PT Sans', 'sans-serif';
}

// Box sizing
// https://github.com/inuitcss/generic.box-sizing
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

// Own resets
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// App
.app-handler {
  padding: 0 @base-spacing-unit / 1.5;

  // iPhone 6
  .responsive(375px, {
    padding: 0 @base-spacing-unit;
  });

  .responsive(650px, {
    padding: 0;
    width: 600px;
    margin: 0 auto;
  });
}

// Font icons

@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot?-8mqiki');
  src:url('/fonts/icomoon.eot?#iefix-8mqiki') format('embedded-opentype'),
  url('/fonts/icomoon.woff?-8mqiki') format('woff'),
  url('/fonts/icomoon.ttf?-8mqiki') format('truetype'),
  url('/fonts/icomoon.svg?-8mqiki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-facebook2:before {
  content: "\ea8d";
}

.icon-twitter2:before {
  content: "\ea92";
}


